
.square {
  background: #ffffff;
  border: 1px solid #999;
  float: left;
  height: 10px;
  width: 10px;
  padding: 0;
  margin-right: -1px;
  margin-top: -1px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square:focus {
  outline: none;
}
